<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Url Shortener</title>
</head>
<body>
    <center>
        <div class="status"></div>
        <br><br>
        <div class="link"></div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <table>
            <tr>
                <th align="left">
                    Enter your Long URL:
                </th>
                <th>
                    <input type="text" class="longUrl" name="longUrl" style="width:400px" />
                </th>
                <th>
                    <input type="button" id="getShortUrl" value="Shorten It" style="width:100px" />
                </th>
            </tr>
            <tr>
                <th align="left">
                    Short Url:
                </th>
                <th>
                    <input type="text" class="shortUrl" name="shortUrl" style="width:400px" />
                </th>
                <th>
                    <input type="button" id="getLongUrl" value="Get back Original" style="width:100px"/>
                </th>
            </tr>
            <tr>
                <th align="left">
                    Enter the short URL to be removed:
                </th>
                <th>
                    <input type="text" class="removeUrl" name="removeUrl" style="width:400px" />
                </th>
                <th>
                    <input type="button" id="removeUrl" value="Remove It" style="width:100px"/>
                </th>
            </tr>
        </table>
    </center>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function isValidURL(url) {

            // const html = fetch(url).text();
            // console.log(html);
            var re = new RegExp('^(https?:\\/\\/)?' + // protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
                '(\\#[-a-z\\d_]*)?$', 'i');
            return re.test(url);
            // fetch(url).then(res => console.log(res));
            // var xhr = new XMLHttpRequest();
            // xhr.setRequestHeader("Origin", "172.16.152.180");
            // xhr.open("GET", url);
            // xhr.send();
            // getPostData(req)
            //     .then(body => {
            //         console.log(body);
            //         let options = {
            //             uri: query.url,
            //             headers: body.headers,
            //             method: body.method || 'GET'
            //         };
            //
            //         let proxyCallback = (proxyErr, proxyRes, proxyBody) => {
            //             res.writeHead(proxyRes.statusCode, proxyRes.headers);
            //             res.write(proxyBody);
            //             res.end();
            //         };
            //         request(options, proxyCallback);
            //     })

            // xhr.onreadystatechange = () => {
            //     if(xhr.status >= 200 && xhr.status < 400)
            //         return console.log("HJi");
            //     console.log("bue");
            //     return false;
            // }
            // $.ajax({
            //     url: url,
            //     type: 'GET',
            //     success: function (res) {
            //         debugger;
            //         return true;
            //     },
            //     error: function (res) {
            //         debugger;
            //         return false;
            //     }
            // });
            // return true;
        }
        $("#getShortUrl").click(function(e) {
            e.preventDefault();
            var longUrl = $(".longUrl").val();
            if (longUrl.length == 0) {
                $(".status").text("Enter a Valid Long URL");
                return;
            }
            if(!isValidURL(longUrl)){
                $(".status").text("The URL you entered does not exist. Why to even shorten it!?");
                return;
            }
            if(longUrl.length < 20){
                $(".status").text("The URL you entered is already short enough :)");
                return;
            }
            var obj = {longUrl: longUrl};
            $.ajax({
                url: 'http://172.16.152.180:8080/create',
                type: 'POST',
                headers:{"Content-type": "application/json"},
                data: JSON.stringify(obj),
                success: function (res) {
                            $(".status").text("The short Url is [" + res + "]");
                            $(".link").html("<a target='_blank' href='"+ longUrl +"'>" + longUrl + " </a>");
                        }
            })
        })

        $("#getLongUrl").click(function(e) {
            e.preventDefault();
            var raw = $(".shortUrl").val();
            var ind = raw.indexOf("172.16.152.180:8080/short/");
            var shortUrl = raw.substring(ind + 26);
            $.ajax({
                url: 'http://172.16.152.180:8080/get/' + shortUrl,
                type: 'GET',
            }).then(function(res) {
                console.log("hi" + shortUrl);
                $(".status").text("The long Url was [" + res + "]");
                $(".link").html("<a target='_blank' href='"+ longUrl +"'>" + longUrl + " </a>");

            });
        })

        $("#removeUrl").click(function(e) {
            e.preventDefault();
            var raw = $(".removeUrl").val();
            var ind = raw.indexOf("172.16.152.180:8080/short/");
            var shortUrl = raw.substring(ind + 26);
            $.ajax({
                url: 'http://172.16.152.180:8080/get/' + shortUrl,
                type: 'GET',
            }).then(function(res) {
                if (res == "Not Found") {
                    $(".status").text("Nothing Removed");
                    return;
                }
                $.ajax({
                    url: 'http://172.16.152.180:8080/remove/' + shortUrl,
                    type: 'DELETE',
                    success: function (res) {
                        $(".status").text("Removed Successfully!");
                    },
                    error: function (err) {
                        $(".status").text("Nothing Removed");
                    }
                })
            })
        })
    </script>
</body>
</html>